body{
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial,sans-serif;
}
.container{
    width:25%;
    background-color: white;
    padding: 20px;
    border-radius: 10px ;
    text-align: center;
    box-shadow: 3px 3px 10px 0 rgba(102, 102, 102, 0.1)
    ,-3px -3px 10px 0 rgba(82, 81, 81, 0.1);
}
.container:hover{
    box-shadow: 10px 10px 10px  #0000001a
    ,-10px -10px 10px  #5251511a;
    transition: box-shadow 0.5s;
}
img{
    border-radius: 10px;
    width: 100%;
}
.title{
    margin-bottom: 5px;
}
.description{
 margin-top : 5px;
 margin-bottom: 10px;
 font-size: 15px;
}
.price{
    margin:15px;
}
.button{
    background-color: rgb(39, 50, 61);
    color: white;
    padding : 10px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin-top: 0;
}
.button:hover{
    background-color: gray;
}
